@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

:root {
  // Colors
  --primary-base: #287feb;
  --primary-base-hover: #2262b0;
  --secondary-base: #ddefff;

  --base: #1b1d1f;
  --gray: #72787f;
  --light-gray: #e8ebed;
  --light: #f7f8f9;
  --white: #ffffff;

  --green: #40908c;
  --purple: #6973db;
  --orange: #d25e00;

  // Font Size
  --h1: 80px;
  --h2: 66px;
  --h3: 52px;
  --h4: 37px;
  --h5: 26px;
  --h6: 22px;

  --b1: 18px;
  --b2: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: var(--base);
}

:hover {
  transition-duration: 0.5s;
}
